@import "sharedStyles/colors";

$font-stack: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI", "Google Sans", "Product Sans", Ubuntu, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

html, body {
  font-family: $font-stack;
  background-color: $app-background;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
}

#root {
  margin: auto;
  box-sizing: border-box;
  flex-direction: row;
  text-align: center;
  display: flex;
  justify-content: center;
}
