@import "colors";

$font-stack: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, "Segoe UI", "Google Sans", "Product Sans", Ubuntu, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

html, body {
  font-family: $font-stack;
  background-color: $app-background;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
}

#root {
  margin: auto;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-width: 720px;
}
